
header h2 {
  background-color: pink;
  opacity: 75%;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  z-index: 0;
  font-size: 1.25em;
}

header {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: turquoise;
  top: relative;
}

header img {
  width: 6.5em;
  height: auto; 
}

@media all and (min-width: 800px) {
  header.profile {
    margin-top: 6.5em;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    width: 350px;
  }
}
