/* The header should have a height of 400px and be 100% the width of it's parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background should be a different colour than the nav and the body
The background-image should be a transparent pattern. Feel free to use this tool to assist: https://www.transparenttextures.com/ */

header h2 {
  background-color: pink;
  opacity: 75%;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  z-index: 0;
  font-size: 1.25em;
}

header {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: turquoise;
  top: relative;
}

header img {
  width: 6.5em;
  height: auto; 
}

@media all and (min-width: 800px) {
  header.profile {
    margin-top: 6.5em;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    width: 350px;
  }
  
}
