.tweet-container {
  display: flex;
  flex-direction: column-reverse;
  width: fit-content;
  margin-top: 30 px;
}
.tweet-container p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-message {
  border-width: 10px;
  border-color: red;
  border-style: solid;
  color: red;
}

article {
  border-width: 4px;
  border-color: rgb(72, 72, 72);
  border-style: solid;
  margin-top: 1 em;
  }

.tweet-container header {
  height: 53px;
  width: 100%;
  background-color: rgb(213, 213, 213);
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

h5  {
  opacity: 10%;
  text-align: right;
  flex-grow: 2;
  align-content: flex-end;
  margin-right: 10px;
}
.man-image {
  width: 50px;
  height: auto;
  margin-left: 10px;
  align-self: flex-start;
}
.tweet-body {
  width: 100%;
  padding: 10px;
  height: 120px;
  text-align: justify;
  vertical-align: middle;
  font-size: 90%;
  bottom: 8px;
  left: 16px;
  white-space: pre-line;
}

.tweet-container footer {
  border-top-color: rgb(72, 72, 72);
  border-top-width: 3px;
  border-top-style: solid;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  font-size: small;
  font-weight: 600;
}
.like-buttons {
  border-radius: 5px;
  background-color:rgb(213, 213, 213);
  border-width: 4px;
  /* box-shadow: rgba(0,0,0,.4) 6px 6px 6px; */
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 7px;
  margin-right: 7px;
  opacity: 50%  
}
.timestamp {
  margin-top: auto;
  margin-bottom: 7px;
  margin-left: 7px;
  opacity: 70%;
}

article:hover .username {
  opacity: 70%;
}

article:hover {
  box-shadow: rgba(0,0,0,.4) 10px 10px 10px
}

article:hover .like-buttons {
  box-shadow: rgba(0,0,0,.4) 6px 6px 6px;
  opacity: 100%;
}